    body{
        margin: 0px;
        padding: 0px;
    }
    *{
        box-sizing: border-box;
    }
    .principal-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items:center;
    }
    .container0{
        display: flex;
        flex-direction: column;
        height: 85vh;
        width: 60vw;
        background-color: rgb(170, 131, 57);
    }
    .fundo{
        background-color: chartreuse;
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 95%;
        align-content: center;
        align-items: center;
    }
    .parte-de-cima{
        height: 15vh;
        width: 100% ;
        background-color: brown;
    }
    .parte-de-baixo{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100% ;
        flex-grow: 1;
        background-color: rgb(1, 21, 59);
    }
    .cima{
        display: flex;
        flex-direction: row;
        margin: 10px;
        height: 10%;
        width: 90%;
        background-color: rgb(136, 135, 135 ,0.8);
    }
    .direita-fundo{
        display: flex;
        flex-direction: row ;
        align-content: flex-start;
    }
    .linha{
        margin: 10px;
        height:auto;
        width: 70px;
        background-color:rgb(49, 46, 46)
    }
    .coluna{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }
    .sub0{
        margin: 10px;
        height:15px;
        width: 400px;
        background-color:rgb(49, 46, 46);
    }
    .sub1{
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        height: 15px;
        width: 400px;
        background-color:rgb(49, 46, 46);
    }
    .esquerda-fundo{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-items: center;
    }
    .sub2{
        margin: 10px;
        height:auto;
        width: 70px;
        background-color:rgb(49, 46, 46)
    }
    .meio{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 90%;
        background-color: rgb(136, 135, 135 ,0.8);
    }
    .meio-grande{
        margin: 10px;
        background-color: rgb(49, 46, 46);
        flex-grow: 1;
    }
    .meio-pequeno{
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        height: 10%;
        width: auto;
        background-color: rgb(49, 46, 46);
    }
    .baixo{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:center;
        margin-top: 0px;
        margin: 10px;
        height: 12%;
        width: 90%;
        background-color: rgb(136, 135, 135 ,0.8);
    }
    .quadradobaixo{
        margin: 5px;
        height: 1.5cm;
        width: 2cm;
        background-color: rgb(49, 46, 46);
    }
    .container1{
        width: 100vw;
        height: 15vh;
        background-color: black;
    }